$main-color: black;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

.app {
  margin: 3rem;
}

// HEADER ---------------------------------------------------------------------
.app__header {
  display: flex;
  justify-content: space-between;

  .dates-range {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &__dates {
      display: flex;
      justify-content: center;
    }
  
    &__date {
      padding: 2rem 0.5rem;
      font-size: 2rem;
      font-weight: bold;
    }

    .rc-slider-handle, .rc-slider-handle-2 .rc-slider-handle-dragging {
      border-color: $main-color !important;
      box-shadow: 0 0 0 5px rgba($main-color, 0.5) !important;
    }

    .rc-slider-track {
      background-color: $main-color !important;
    }

    .rc-slider-mark-text {
      margin-top: 0.5rem;
      font-size: 1rem;
    }
  }
  
  .total-world-expense {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
    &__title, &__value {
      text-align: left;
    }
  
    &__title {
      color: grey;
      font-size: 1.5rem;
    }
  
    &__value {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

// SELECTED COUNTRIES ---------------------------------------------------------
.selected-countries {
  padding: 1rem 0;
  color: white;

  &__country {
    display: inline-block;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    margin: .5rem .25rem 0;

    &:hover {
      cursor: pointer;
    }
  }

  &__cross {
    margin-left: .5rem;
    color: grey;
  }
}

// CHARTS ---------------------------------------------------------------------
.app__charts {
  display: flex;
  justify-content: space-between;

  .chart {
    border: solid 1px lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      color: grey;
      font-size: 1rem;
      padding: 0 2rem;
      font-weight: normal;
    }

    &__empty-text {
      width: 100%;
      text-align: center;
    }

    h2 + div {
      height: calc(100% - 40px) !important;
    }
  }

  .geo-chart {
    height: 65vh;
    width: calc(50% - 1rem);
    margin-right: 1rem;
  }

  &__side-charts {
    height: 65vh;
    width: calc(50% - 1rem);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .bar-chart, .line-chart {
      width: 100%;
      height: calc(50% - 1rem);
    }

    .line-chart {
      margin-top: 2rem;
    }
  }

}


